{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "plugin:vuetify/base",
    "eslint:recommended",
    "plugin:import/typescript",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": ["vue", "@typescript-eslint", "prettier", "import"],
  "rules": {
    "import/no-cycle": "error",
    "prettier/prettier": "error",
    "vue/no-multiple-template-root": "off",
    "vue/no-unused-vars": "error",
    "vue/valid-v-slot": "error",
    "vue/no-reserved-component-names": "error",
    "vue/no-v-model-argument": "off",
    "vue/valid-v-model": "off",
    "vue/no-reserved-props": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "vue/script-indent": [
      "error",
      2,
      {
        "baseIndent": 0,
        "switchCase": 1
      }
    ],
    "no-console": "off",
    "no-debugger": "off",
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "vue/prop-name-casing": ["error", "camelCase"],
    "vue/order-in-components": ["error", {
      "order": [
        "el",
        "name",
        "key",
        "parent",
        "functional",
        ["delimiters", "comments"],
        ["components", "directives", "filters"],
        "extends",
        "mixins",
        "inheritAttrs",
        "model",
        ["props", "propsData"],
        "data",
        "computed",
        "watch",
        "LIFECYCLE_HOOKS",
        "methods",
        ["template", "render"],
        "renderError"
      ]
    }]
  },
  "ignorePatterns": ["**/node_modules/**", "**/docs/**", "**/dist/**"]
}
